In [14]:
import pandas as pd
import numpy as np
import os
import sys
sys.path.append("../src")
from limpeza_dados import converter_k, formatar_mes
from calculo_engajamento import calcular_engajamento
from medias import media_por_grupo
from medias_grupo import resumo_max_min_por_grupo
from categorias import categorizar_post
from outliers import detectar_outliers_iqr, sem_outliers_iqr

df_postagens2025 = pd.read_excel("Posts_2025.xlsx")

In [15]:
#tratamento
colunas = ["Curtidas", "Coment.", "Compart.", "Salvos", "Visualiz.", "Alcance", "Visitas", "Seguid."]
for col in colunas:
    df_postagens2025[col] = df_postagens2025[col].apply(converter_k)

display(df_postagens2025)


df_postagens2025 = formatar_mes(df_postagens2025)
display(df_postagens2025.head())
display(df_postagens2025.info())

,Mês,Título / Tema do Post,Formato,Curtidas,Coment.,Compart.,Salvos,Visualiz.,Alcance,Visitas,Seguid.
0,JAN,Glicemia alta gestação,Post,26,0,8,9,5283,0,89,12
1,JAN,Castanha p/ bebê,Post,17,0,7,7,3143,0,2,0
2,JAN,Como oferecer maçã,Reels,26,0,8,10,5654,0,0,2
3,JAN,Leite e fezes,Reels,13,0,1,2,1648,0,0,0
4,JAN,Água para bebês,Post,36,6,16,33,5003,0,21,1
...,...,...,...,...,...,...,...,...,...,...,...
97,NOV,Lista: Não dar até 2 anos,Post,132,4,46,18,10283,0,124,18
98,NOV,Qual iogurte?,Reels,18,0,10,6,1993,0,0,0
99,DEZ,Pasta amendoim indico,Carros.,33,3,6,29,6737,0,147,23
100,DEZ,Por que não banana,Carros.,38,1,17,8,9123,0,160,18
101,DEZ,Post Natal,Post,26,0,0,1,1760,0,3,0

,Mês,Título / Tema do Post,Formato,Curtidas,Coment.,Compart.,Salvos,Visualiz.,Alcance,Visitas,Seguid.
0,Jan,glicemia alta gestação,Post,26,0,8,9,5283,0,89,12
1,Jan,castanha p/ bebê,Post,17,0,7,7,3143,0,2,0
2,Jan,como oferecer maçã,Reels,26,0,8,10,5654,0,0,2
3,Jan,leite e fezes,Reels,13,0,1,2,1648,0,0,0
4,Jan,água para bebês,Post,36,6,16,33,5003,0,21,1

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 102 entries, 0 to 101
Data columns (total 11 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   Mês                    102 non-null    object
 1   Título / Tema do Post  102 non-null    object
 2   Formato                102 non-null    object
 3   Curtidas               102 non-null    int64
 4   Coment.                102 non-null    int64
 5   Compart.               102 non-null    int64
 6   Salvos                 102 non-null    int64
 7   Visualiz.              102 non-null    int64
 8   Alcance                102 non-null    int64
 9   Visitas                102 non-null    int64
 10  Seguid.                102 non-null    int64
dtypes: int64(8), object(3)
memory usage: 8.9+ KB

None

In [16]:
display(df_postagens2025)
#filtragem
colunas = ["Curtidas", "Coment.", "Compart.", "Salvos", "Visualiz.", "Alcance", "Visitas", "Seguid.", "Engajamento"]

#cálculo engajamento:
df_postagens2025 = calcular_engajamento(df_postagens2025)
display(df_postagens2025)

#médias
df_medias = media_por_grupo(df_postagens2025, colunas)
display(df_medias.round(2))

#qual formato teve o maior e o menor valor médio de acordo com a métrica
df_resumo = resumo_max_min_por_grupo(df_postagens2025, colunas, grupo="Formato")
display(df_resumo.round(2))

,Mês,Título / Tema do Post,Formato,Curtidas,Coment.,Compart.,Salvos,Visualiz.,Alcance,Visitas,Seguid.
0,Jan,glicemia alta gestação,Post,26,0,8,9,5283,0,89,12
1,Jan,castanha p/ bebê,Post,17,0,7,7,3143,0,2,0
2,Jan,como oferecer maçã,Reels,26,0,8,10,5654,0,0,2
3,Jan,leite e fezes,Reels,13,0,1,2,1648,0,0,0
4,Jan,água para bebês,Post,36,6,16,33,5003,0,21,1
...,...,...,...,...,...,...,...,...,...,...,...
97,Nov,lista: não dar até 2 anos,Post,132,4,46,18,10283,0,124,18
98,Nov,qual iogurte?,Reels,18,0,10,6,1993,0,0,0
99,Dez,pasta amendoim indico,Carros.,33,3,6,29,6737,0,147,23
100,Dez,por que não banana,Carros.,38,1,17,8,9123,0,160,18
101,Dez,post natal,Post,26,0,0,1,1760,0,3,0

,Mês,Título / Tema do Post,Formato,Curtidas,Coment.,Compart.,Salvos,Visualiz.,Alcance,Visitas,Seguid.,Engajamento
0,Jan,glicemia alta gestação,Post,26,0,8,9,5283,0,89,12,43
1,Jan,castanha p/ bebê,Post,17,0,7,7,3143,0,2,0,31
2,Jan,como oferecer maçã,Reels,26,0,8,10,5654,0,0,2,44
3,Jan,leite e fezes,Reels,13,0,1,2,1648,0,0,0,16
4,Jan,água para bebês,Post,36,6,16,33,5003,0,21,1,91
...,...,...,...,...,...,...,...,...,...,...,...,...
97,Nov,lista: não dar até 2 anos,Post,132,4,46,18,10283,0,124,18,200
98,Nov,qual iogurte?,Reels,18,0,10,6,1993,0,0,0,34
99,Dez,pasta amendoim indico,Carros.,33,3,6,29,6737,0,147,23,71
100,Dez,por que não banana,Carros.,38,1,17,8,9123,0,160,18,64
101,Dez,post natal,Post,26,0,0,1,1760,0,3,0,27

,Formato,Curtidas,Coment.,Compart.,Salvos,Visualiz.,Alcance,Visitas,Seguid.,Engajamento
0,Artigo,82.00,0.00,3.33,5.67,5400.67,0.00,2.67,0.00,91.00
1,Carros.,403.17,8.39,622.83,84.96,31282.91,8963.91,167.74,27.87,1119.35
2,Foto,193.33,0.00,53.00,39.00,8807.00,4672.67,81.00,21.00,285.33
3,Post,490.27,4.80,578.13,56.62,33293.31,11554.27,171.73,27.84,1129.82
4,Reels,25.73,0.96,14.15,6.46,3668.65,490.19,0.00,1.04,47.31
5,Vídeo,159.50,14.00,85.50,22.00,9727.50,0.00,0.00,1.50,281.00

       Metrica Maior_Grupo  Maior_Valor Menor_Grupo  Menor_Valor
0     Curtidas        Post       490.27       Reels        25.73
1      Coment.       Vídeo        14.00      Artigo         0.00
2     Compart.     Carros.       622.83      Artigo         3.33
3       Salvos     Carros.        84.96      Artigo         5.67
4    Visualiz.        Post     33293.31       Reels      3668.65
5      Alcance        Post     11554.27      Artigo         0.00
6      Visitas        Post       171.73       Reels         0.00
7      Seguid.     Carros.        27.87      Artigo         0.00
8  Engajamento        Post      1129.82       Reels        47.31

In [23]:
#categorias

df_postagens2025["Categoria"] = df_postagens2025["Título / Tema do Post"].map(categorizar_post)
display(df_postagens2025)
df_postagens2025.to_excel("postagens_categorizadas_2025.xlsx", index=False)

,Mês,Título / Tema do Post,Formato,Curtidas,Coment.,Compart.,Salvos,Visualiz.,Alcance,Visitas,Seguid.,Engajamento,Categoria
0,Jan,glicemia alta gestação,Post,26,0,8,9,5283,0,89,12,43,Gestação / Pré-natal
1,Jan,castanha p/ bebê,Post,17,0,7,7,3143,0,2,0,31,Alimentação Bebê / Introdução alimentar
2,Jan,como oferecer maçã,Reels,26,0,8,10,5654,0,0,2,44,Alimentação Bebê / Introdução alimentar
3,Jan,leite e fezes,Reels,13,0,1,2,1648,0,0,0,16,Amamentação / Leite
4,Jan,água para bebês,Post,36,6,16,33,5003,0,21,1,91,Alimentação Bebê / Introdução alimentar
...,...,...,...,...,...,...,...,...,...,...,...,...,...
97,Nov,lista: não dar até 2 anos,Post,132,4,46,18,10283,0,124,18,200,Alimentação Bebê / Introdução alimentar
98,Nov,qual iogurte?,Reels,18,0,10,6,1993,0,0,0,34,Perguntas / Q&A
99,Dez,pasta amendoim indico,Carros.,33,3,6,29,6737,0,147,23,71,Alimentação Bebê / Introdução alimentar
100,Dez,por que não banana,Carros.,38,1,17,8,9123,0,160,18,64,Alimentação Bebê / Introdução alimentar
101,Dez,post natal,Post,26,0,0,1,1760,0,3,0,27,Outros

In [18]:
#outliers

#Detectar outliers de engajamento
outliers_eng = detectar_outliers_iqr(df_postagens2025, coluna="Engajamento")
print("Outliers de Engajamento:")
display(outliers_eng)

#Top categorias presentes nos outliers
top_categorias_outliers_eng = (outliers_eng["Categoria"].value_counts().reset_index())
top_categorias_outliers_eng.columns = ["Categoria", "Qtd_Outliers"]
display(top_categorias_outliers_eng)

Outliers de Engajamento:

,Mês,Título / Tema do Post,Formato,Curtidas,Coment.,Compart.,Salvos,Visualiz.,Alcance,Visitas,Seguid.,Engajamento,Categoria
21,Mar,suco após 2 anos (viral),Carros.,5900,142,12000,1100,240144,193245,435,247,19142,Alimentação Bebê / Introdução alimentar
23,Mar,feto 16 sem (sabores),Foto,505,0,126,29,14018,14018,225,60,660,Gestação / Pré-natal
43,Jun,ômega 3 feto (viral),Post,8400,32,5900,534,367203,0,286,148,14866,Gestação / Pré-natal
46,Jul,ganho 1kg até 28 sem,Post,395,0,122,34,43,35005,126,15,551,Gestação / Pré-natal
52,Jul,não incentive errado,Post,313,2,90,37,26711,0,204,47,442,Alimentação Bebê / Introdução alimentar
58,Jul,dermatite atópica,Post,2065,1,20,36,16229,0,125,9,2122,Alergias / APLV
59,Ago,amamentação vídeo,Vídeo,210,3,112,43,10890,0,0,3,368,Amamentação / Leite
64,Ago,corrida 5km (viral),Post,1700,18,3100,128,95548,0,170,22,4946,Outros
79,Set,saúde vida toda (viral),Carros.,2400,13,2000,323,295358,0,750,84,4736,Gestação / Pré-natal
92,Out,cafeína gestante (viral),Post,6800,120,16000,969,592462,450365,929,233,23889,Gestação / Pré-natal

                                 Categoria  Qtd_Outliers
0                     Gestação / Pré-natal             5
1  Alimentação Bebê / Introdução alimentar             2
2                          Alergias / APLV             1
3                      Amamentação / Leite             1
4                                   Outros             1

In [ ]:
#métricas sem outliers
# quais formatos tiveram melhor engajamento por categoria retirando os outliers

df_analise_categoria_tema_eng_s = sem_outliers_iqr(df_postagens2025, coluna="Engajamento")
display(df_analise_categoria_tema_eng_s)

# quais formatos tiveram melhor engajamento por categoria com outlier
analise_categoria_tema_eng = df_postagens2025[["Formato", "Categoria", "Engajamento"]].groupby(["Categoria", "Formato"]).mean().round(2).sort_values(by=["Categoria", "Engajamento"], ascending=[True, False])
#display(analise_categoria_tema_eng)

# quais formatos tiveram melhor engajamento por categoria sem outlier
analise_categoria_tema_eng_s = df_analise_categoria_tema_eng_s[["Formato", "Categoria", "Engajamento"]].groupby(["Categoria", "Formato"]).mean().round(2).sort_values(by=["Categoria", "Engajamento"], ascending=[True, False])
#display(analise_categoria_tema_eng_s)

# mostrando os dois resultados para comparação
analise_categoria_tema_eng_s = analise_categoria_tema_eng_s.rename(columns={"Engajamento": "Eng_Sem_Outliers"})
analise_categoria_tema_eng = analise_categoria_tema_eng.rename(columns={"Engajamento": "Eng_Com_Outliers"})
df_cat_eng_s_c = analise_categoria_tema_eng.merge(analise_categoria_tema_eng_s, on=["Categoria", "Formato"], how="outer")
df_cat_eng_s_c = df_cat_eng_s_c.fillna(0)

display(df_cat_eng_s_c.sort_values(by=["Categoria", "Eng_Sem_Outliers"], ascending=[True, False]))

# Média de engajamento por categoria sem outliers
df_media_eng_cat_s = df_analise_categoria_tema_eng_s[["Categoria", "Engajamento"]].groupby(["Categoria"]).mean()
df_media_eng_cat_s = df_analise_categoria_tema_eng_s[["Categoria", "Engajamento"]].groupby(["Categoria"]).mean().sort_values(by=["Engajamento", "Categoria"], ascending=[False, True])
df_media_eng_cat_s = df_media_eng_cat_s.reset_index()
df_media_eng_cat_s.columns = ["Categoria", "Media_Eng_Sem_Outliers"]

# Média de engajamento por categoria com outliers
df_media_eng_cat = df_postagens2025[["Categoria", "Engajamento"]].groupby(["Categoria"]).mean()
df_media_eng_cat = df_postagens2025[["Categoria", "Engajamento"]].groupby(["Categoria"]).mean().sort_values(by=["Engajamento", "Categoria"], ascending=[False, True])
df_media_eng_cat = df_media_eng_cat.reset_index()
df_media_eng_cat.columns = ["Categoria", "Media_Eng_Com_Outliers"]

#df_com = df_media_eng_cat.rename(columns={"Engajamento": "Eng_Com_Outliers"})


df_tot = df_media_eng_cat.merge(df_media_eng_cat_s, on=["Categoria"], how="outer")
df_tot = df_tot.fillna(0)
df_tot = df_tot.sort_values(by="Media_Eng_Sem_Outliers", ascending=False)
print("Ordem decrescente de engajamento sem outliers:")
display(df_tot.round(2))
df_tot = df_tot.sort_values(by="Media_Eng_Com_Outliers", ascending=False)
print("Ordem decrescente de engajamento com outliers:")
display(df_tot.round(2))

,Mês,Título / Tema do Post,Formato,Curtidas,Coment.,Compart.,Salvos,Visualiz.,Alcance,Visitas,Seguid.,Engajamento,Categoria
0,Jan,glicemia alta gestação,Post,26,0,8,9,5283,0,89,12,43,Gestação / Pré-natal
1,Jan,castanha p/ bebê,Post,17,0,7,7,3143,0,2,0,31,Alimentação Bebê / Introdução alimentar
2,Jan,como oferecer maçã,Reels,26,0,8,10,5654,0,0,2,44,Alimentação Bebê / Introdução alimentar
3,Jan,leite e fezes,Reels,13,0,1,2,1648,0,0,0,16,Amamentação / Leite
4,Jan,água para bebês,Post,36,6,16,33,5003,0,21,1,91,Alimentação Bebê / Introdução alimentar
...,...,...,...,...,...,...,...,...,...,...,...,...,...
97,Nov,lista: não dar até 2 anos,Post,132,4,46,18,10283,0,124,18,200,Alimentação Bebê / Introdução alimentar
98,Nov,qual iogurte?,Reels,18,0,10,6,1993,0,0,0,34,Perguntas / Q&A
99,Dez,pasta amendoim indico,Carros.,33,3,6,29,6737,0,147,23,71,Alimentação Bebê / Introdução alimentar
100,Dez,por que não banana,Carros.,38,1,17,8,9123,0,160,18,64,Alimentação Bebê / Introdução alimentar
101,Dez,post natal,Post,26,0,0,1,1760,0,3,0,27,Outros

                                                 Eng_Com_Outliers  \
Categoria                               Formato
Alergias / APLV                         Post               785.00
                                        Reels               35.50
                                        Carros.             29.00
Alimentação Bebê / Introdução alimentar Vídeo              194.00
                                        Foto               176.00
                                        Post               167.71
                                        Carros.           2214.22
                                        Reels               37.20
                                        Artigo              17.00
Amamentação / Leite                     Carros.            117.50
                                        Post                92.88
                                        Reels               88.50
                                        Foto                20.00
                                        Artigo              11.00
                                        Vídeo              368.00
Gestação / Pré-natal                    Post              3086.92
                                        Carros.           1240.25
                                        Reels               10.00
                                        Foto               660.00
Outros                                  Artigo             245.00
                                        Reels               67.50
                                        Post              1663.00
Perguntas / Q&A                         Post                75.00
                                        Reels               32.67
Receitas / Comida                       Post                67.33
Suplementos / Nutrientes                Carros.            106.80
                                        Reels               27.50

                                                 Eng_Sem_Outliers
Categoria                               Formato
Alergias / APLV                         Post               116.50
                                        Reels               35.50
                                        Carros.             29.00
Alimentação Bebê / Introdução alimentar Vídeo              194.00
                                        Foto               176.00
                                        Post               146.62
                                        Carros.             98.25
                                        Reels               37.20
                                        Artigo              17.00
Amamentação / Leite                     Carros.            117.50
                                        Post                92.88
                                        Reels               88.50
                                        Foto                20.00
                                        Artigo              11.00
                                        Vídeo                0.00
Gestação / Pré-natal                    Post                82.40
                                        Carros.             75.00
                                        Reels               10.00
                                        Foto                 0.00
Outros                                  Artigo             245.00
                                        Reels               67.50
                                        Post                21.50
Perguntas / Q&A                         Post                75.00
                                        Reels               32.67
Receitas / Comida                       Post                67.33
Suplementos / Nutrientes                Carros.            106.80
                                        Reels               27.50

Ordem decrescente sem outliers:

,Categoria,Media_Eng_Com_Outliers,Media_Eng_Sem_Outliers
1,Alimentação Bebê / Introdução alimentar,639.86,101.50
2,Amamentação / Leite,101.82,85.19
7,Suplementos / Nutrientes,84.14,84.14
4,Outros,688.00,79.71
3,Gestação / Pré-natal,2408.47,75.64
6,Receitas / Comida,67.33,67.33
0,Alergias / APLV,314.12,55.86
5,Perguntas / Q&A,43.25,43.25

Ordem decrescente com outliers:

,Categoria,Media_Eng_Com_Outliers,Media_Eng_Sem_Outliers
3,Gestação / Pré-natal,2408.47,75.64
4,Outros,688.00,79.71
1,Alimentação Bebê / Introdução alimentar,639.86,101.50
0,Alergias / APLV,314.12,55.86
2,Amamentação / Leite,101.82,85.19
7,Suplementos / Nutrientes,84.14,84.14
6,Receitas / Comida,67.33,67.33
5,Perguntas / Q&A,43.25,43.25