In [14]:
import pandas as pd
import numpy as np
import os
import sys
sys.path.append("../src")
from limpeza_dados import converter_k, formatar_mes
from calculo_engajamento import calcular_engajamento
from medias import media_por_grupo
from medias_grupo import resumo_max_min_por_grupo
from categorias import categorizar_post

df_postagens2025 = pd.read_excel("Posts_2025.xlsx")

In [15]:
#tratamento
colunas = ["Curtidas", "Coment.", "Compart.", "Salvos", "Visualiz.", "Alcance", "Visitas", "Seguid."]
for col in colunas:
    df_postagens2025[col] = df_postagens2025[col].apply(converter_k)

display(df_postagens2025)


df_postagens2025 = formatar_mes(df_postagens2025)
display(df_postagens2025.head())
display(df_postagens2025.info())

,Mês,Título / Tema do Post,Formato,Curtidas,Coment.,Compart.,Salvos,Visualiz.,Alcance,Visitas,Seguid.
0,JAN,Glicemia alta gestação,Post,26,0,8,9,5283,0,89,12
1,JAN,Castanha p/ bebê,Post,17,0,7,7,3143,0,2,0
2,JAN,Como oferecer maçã,Reels,26,0,8,10,5654,0,0,2
3,JAN,Leite e fezes,Reels,13,0,1,2,1648,0,0,0
4,JAN,Água para bebês,Post,36,6,16,33,5003,0,21,1
...,...,...,...,...,...,...,...,...,...,...,...
97,NOV,Lista: Não dar até 2 anos,Post,132,4,46,18,10283,0,124,18
98,NOV,Qual iogurte?,Reels,18,0,10,6,1993,0,0,0
99,DEZ,Pasta amendoim indico,Carros.,33,3,6,29,6737,0,147,23
100,DEZ,Por que não banana,Carros.,38,1,17,8,9123,0,160,18
101,DEZ,Post Natal,Post,26,0,0,1,1760,0,3,0

,Mês,Título / Tema do Post,Formato,Curtidas,Coment.,Compart.,Salvos,Visualiz.,Alcance,Visitas,Seguid.
0,Jan,glicemia alta gestação,Post,26,0,8,9,5283,0,89,12
1,Jan,castanha p/ bebê,Post,17,0,7,7,3143,0,2,0
2,Jan,como oferecer maçã,Reels,26,0,8,10,5654,0,0,2
3,Jan,leite e fezes,Reels,13,0,1,2,1648,0,0,0
4,Jan,água para bebês,Post,36,6,16,33,5003,0,21,1

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 102 entries, 0 to 101
Data columns (total 11 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   Mês                    102 non-null    object
 1   Título / Tema do Post  102 non-null    object
 2   Formato                102 non-null    object
 3   Curtidas               102 non-null    int64
 4   Coment.                102 non-null    int64
 5   Compart.               102 non-null    int64
 6   Salvos                 102 non-null    int64
 7   Visualiz.              102 non-null    int64
 8   Alcance                102 non-null    int64
 9   Visitas                102 non-null    int64
 10  Seguid.                102 non-null    int64
dtypes: int64(8), object(3)
memory usage: 8.9+ KB

None

In [16]:
display(df_postagens2025)
#filtragem
colunas = ["Curtidas", "Coment.", "Compart.", "Salvos", "Visualiz.", "Alcance", "Visitas", "Seguid.", "Engajamento"]

#cálculo engajamento:
df_postagens2025 = calcular_engajamento(df_postagens2025)
display(df_postagens2025)

#médias
df_medias = media_por_grupo(df_postagens2025, colunas)
display(df_medias.round(2))

#df_resumo = resumo_max_min_por_grupo(df_postagens2025, colunas, grupo="Formato")
df_resumo = resumo_max_min_por_grupo(df_postagens2025, colunas, grupo="Formato")
display(df_resumo.round(2))

,Mês,Título / Tema do Post,Formato,Curtidas,Coment.,Compart.,Salvos,Visualiz.,Alcance,Visitas,Seguid.
0,Jan,glicemia alta gestação,Post,26,0,8,9,5283,0,89,12
1,Jan,castanha p/ bebê,Post,17,0,7,7,3143,0,2,0
2,Jan,como oferecer maçã,Reels,26,0,8,10,5654,0,0,2
3,Jan,leite e fezes,Reels,13,0,1,2,1648,0,0,0
4,Jan,água para bebês,Post,36,6,16,33,5003,0,21,1
...,...,...,...,...,...,...,...,...,...,...,...
97,Nov,lista: não dar até 2 anos,Post,132,4,46,18,10283,0,124,18
98,Nov,qual iogurte?,Reels,18,0,10,6,1993,0,0,0
99,Dez,pasta amendoim indico,Carros.,33,3,6,29,6737,0,147,23
100,Dez,por que não banana,Carros.,38,1,17,8,9123,0,160,18
101,Dez,post natal,Post,26,0,0,1,1760,0,3,0

,Mês,Título / Tema do Post,Formato,Curtidas,Coment.,Compart.,Salvos,Visualiz.,Alcance,Visitas,Seguid.,Engajamento
0,Jan,glicemia alta gestação,Post,26,0,8,9,5283,0,89,12,43
1,Jan,castanha p/ bebê,Post,17,0,7,7,3143,0,2,0,31
2,Jan,como oferecer maçã,Reels,26,0,8,10,5654,0,0,2,44
3,Jan,leite e fezes,Reels,13,0,1,2,1648,0,0,0,16
4,Jan,água para bebês,Post,36,6,16,33,5003,0,21,1,91
...,...,...,...,...,...,...,...,...,...,...,...,...
97,Nov,lista: não dar até 2 anos,Post,132,4,46,18,10283,0,124,18,200
98,Nov,qual iogurte?,Reels,18,0,10,6,1993,0,0,0,34
99,Dez,pasta amendoim indico,Carros.,33,3,6,29,6737,0,147,23,71
100,Dez,por que não banana,Carros.,38,1,17,8,9123,0,160,18,64
101,Dez,post natal,Post,26,0,0,1,1760,0,3,0,27

,Formato,Curtidas,Coment.,Compart.,Salvos,Visualiz.,Alcance,Visitas,Seguid.,Engajamento
0,Artigo,82.00,0.00,3.33,5.67,5400.67,0.00,2.67,0.00,91.00
1,Carros.,403.17,8.39,622.83,84.96,31282.91,8963.91,167.74,27.87,1119.35
2,Foto,193.33,0.00,53.00,39.00,8807.00,4672.67,81.00,21.00,285.33
3,Post,490.27,4.80,578.13,56.62,33293.31,11554.27,171.73,27.84,1129.82
4,Reels,25.73,0.96,14.15,6.46,3668.65,490.19,0.00,1.04,47.31
5,Vídeo,159.50,14.00,85.50,22.00,9727.50,0.00,0.00,1.50,281.00

       Metrica Maior_Grupo  Maior_Valor Menor_Grupo  Menor_Valor
0     Curtidas        Post       490.27       Reels        25.73
1      Coment.       Vídeo        14.00      Artigo         0.00
2     Compart.     Carros.       622.83      Artigo         3.33
3       Salvos     Carros.        84.96      Artigo         5.67
4    Visualiz.        Post     33293.31       Reels      3668.65
5      Alcance        Post     11554.27      Artigo         0.00
6      Visitas        Post       171.73       Reels         0.00
7      Seguid.     Carros.        27.87      Artigo         0.00
8  Engajamento        Post      1129.82       Reels        47.31

In [17]:
#categorias

df_postagens2025["Categoria"] = df_postagens2025["Título / Tema do Post"].map(categorizar_post)
display(df_postagens2025)
df_postagens2025.to_excel("postagens_categorizadas_2025.xlsx", index=False)

,Mês,Título / Tema do Post,Formato,Curtidas,Coment.,Compart.,Salvos,Visualiz.,Alcance,Visitas,Seguid.,Engajamento,Categoria
0,Jan,glicemia alta gestação,Post,26,0,8,9,5283,0,89,12,43,Gestação / Pré-natal
1,Jan,castanha p/ bebê,Post,17,0,7,7,3143,0,2,0,31,Alimentação Bebê / Introdução alimentar
2,Jan,como oferecer maçã,Reels,26,0,8,10,5654,0,0,2,44,Alimentação Bebê / Introdução alimentar
3,Jan,leite e fezes,Reels,13,0,1,2,1648,0,0,0,16,Amamentação / Leite
4,Jan,água para bebês,Post,36,6,16,33,5003,0,21,1,91,Alimentação Bebê / Introdução alimentar
...,...,...,...,...,...,...,...,...,...,...,...,...,...
97,Nov,lista: não dar até 2 anos,Post,132,4,46,18,10283,0,124,18,200,Alimentação Bebê / Introdução alimentar
98,Nov,qual iogurte?,Reels,18,0,10,6,1993,0,0,0,34,Perguntas / Q&A
99,Dez,pasta amendoim indico,Carros.,33,3,6,29,6737,0,147,23,71,Alimentação Bebê / Introdução alimentar
100,Dez,por que não banana,Carros.,38,1,17,8,9123,0,160,18,64,Alimentação Bebê / Introdução alimentar
101,Dez,post natal,Post,26,0,0,1,1760,0,3,0,27,Outros