In [13]:
import pandas as pd
import numpy as np
# import sys
# sys.path.append("../src")
from limpeza_dados import converter_k 
from calculo_engajamento import formatar_mes
#from medias_totais import medias_totais

df_postagens2025 = pd.read_excel("Posts_2025.xlsx")

colunas = ["Curtidas", "Coment.", "Compart.", "Salvos", "Visualiz.", "Alcance", "Visitas", "Seguid."]
for col in colunas:
    df_postagens2025[col] = df_postagens2025[col].apply(converter_k)

display(df_postagens2025)


df_postagens2025 = formatar_mes(df_postagens2025)
display(df_postagens2025.head())
display(df_postagens2025.info())

,Mês,Título / Tema do Post,Formato,Curtidas,Coment.,Compart.,Salvos,Visualiz.,Alcance,Visitas,Seguid.
0,JAN,Glicemia alta gestação,Post,26,0,8,9,5283,0,89,12
1,JAN,Castanha p/ bebê,Post,17,0,7,7,3143,0,2,0
2,JAN,Como oferecer maçã,Reels,26,0,8,10,5654,0,0,2
3,JAN,Leite e fezes,Reels,13,0,1,2,1648,0,0,0
4,JAN,Água para bebês,Post,36,6,16,33,5003,0,21,1
...,...,...,...,...,...,...,...,...,...,...,...
97,NOV,Lista: Não dar até 2 anos,Post,132,4,46,18,10283,0,124,18
98,NOV,Qual iogurte?,Reels,18,0,10,6,1993,0,0,0
99,DEZ,Pasta amendoim indico,Carros.,33,3,6,29,6737,0,147,23
100,DEZ,Por que não banana,Carros.,38,1,17,8,9123,0,160,18
101,DEZ,Post Natal,Post,26,0,0,1,1760,0,3,0

,Mês,Título / Tema do Post,Formato,Curtidas,Coment.,Compart.,Salvos,Visualiz.,Alcance,Visitas,Seguid.
0,Jan,glicemia alta gestação,Post,26,0,8,9,5283,0,89,12
1,Jan,castanha p/ bebê,Post,17,0,7,7,3143,0,2,0
2,Jan,como oferecer maçã,Reels,26,0,8,10,5654,0,0,2
3,Jan,leite e fezes,Reels,13,0,1,2,1648,0,0,0
4,Jan,água para bebês,Post,36,6,16,33,5003,0,21,1

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 102 entries, 0 to 101
Data columns (total 11 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   Mês                    102 non-null    object
 1   Título / Tema do Post  102 non-null    object
 2   Formato                102 non-null    object
 3   Curtidas               102 non-null    int64
 4   Coment.                102 non-null    int64
 5   Compart.               102 non-null    int64
 6   Salvos                 102 non-null    int64
 7   Visualiz.              102 non-null    int64
 8   Alcance                102 non-null    int64
 9   Visitas                102 non-null    int64
 10  Seguid.                102 non-null    int64
dtypes: int64(8), object(3)
memory usage: 8.9+ KB

None